{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>جميع المستفيدين</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'sub-static2/css/bootstrap.min.css' %}">
    <link rel='stylesheet' media='screen' href="{% static 'sub-static2/css/media queries.css' %}">
    <link rel="stylesheet" href="{% static 'sub-static2/css/all.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'sub-static2/https://fontlibrary.org/face/notourdu' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'sub-static2/css/hover.css' %}" />
    <link rel='stylesheet' media='screen' href="{% static 'sub-static2/css/gme3mostfeden.css' %}">
    <script src="{% static 'sub-static2/https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'sub-static2/https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <!-- start navbar -->
<div class="background"></div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="chevron" src="{% static 'sub-static2/images/received_710437753044351.png' %}">
                  <img src="{% static 'sub-static2/images/received_1837342366438740.png' %}">
                </a>
                <div class="dropdown-menu language" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">English</a>
                  <a class="dropdown-item" href="#">عربي</a>
                </div>
            </li>

            <li class="nav-item dropdown ">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <button class="btn"><i class="fas fa-chevron-down"></i>تسجيل الدخول</button>
                </a>
                <div class="dropdown-menu signup" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'sign_in' %}">جمعية خيرية</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'sign_in' %}">متبرع</a>
                </div>
            </li>

            <li class="nav-item">
              <a class="nav-link btn donate" href="{% url 'donation:donation' %}">تبرع الان</a>
            </li>

              <span class="Bar">
                <li class="nav-item conect">
                  <a class="nav-link hvr-shrink" href="{% url 'contact_us' %}"> تواصل معنا</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link hvr-shrink" href="{% url 'question_answer' %}">التوعية</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link hvr-shrink" href="{% url 'news' %}">الاخبار</a>
                </li>

                <li id="li-padding" class="nav-item">
                    <a class="nav-link hvr-shrink" href="{% url 'about_us' %}">عن متضامن</a>
                </li>
                <hr>
              </span>

            <li id="li-padding" class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <img class="logo" src="{% static 'sub-static2/images/emptyarabic.png' %}">
                </a>
              </li>
          </ul>

        </div>
      </nav>
      <!-- end navbar -->
      <!-- ahl msr img start -->
          <div class="ahl-msr">
              <img src="{% static 'sub-static2/images/155.png' %}" alt="">
          </div>
<!-- ahl msr img end -->
<!-- gmee3 el mostafeden start -->
<div class="development">
    <h3 class="heading">
      <span>جميع المستفيدين</span>
    </h3>
<!-- gmee3 mostafeden end -->
<!-- table of people info start -->
<table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">الحالة الأجتماعية</th>
        <th scope="col">المدينة</th>
        <th scope="col">نوع</th>
        <th scope="col">الرقم القومي</th>
        <th scope="col">الأسم</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">متزوج</th>
        <td>الأسكندرية</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>نادية</td>
      </tr>
      <tr>
        <th scope="row">متزوج</th>
        <td>القاهرة</td>
        <td>ذكر</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>عوض</td>
      </tr>
      <tr>
        <th scope="row">متزوج</th>
        <td>الأسكندرية</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>سامية</td>
      </tr>
      <tr>
        <th scope="row">متزوج</th>
        <td>القاهرة</td>
        <td>ذكر</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>محمد</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>الأسكندرية</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>القاهرة</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>الأسكندرية</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>القاهرة</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>الأسكندرية</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>القاهرة</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>الأسكندرية</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>القاهرة</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
      <tr>
        <th scope="row">اعزب</th>
        <td>الأسكندرية</td>
        <td>أنثي</td>
        <td>٢٩٩٠٤١٩٠٢٠٢١٥٧</td>
        <td>منة الله</td>
      </tr>
    </tbody>
  </table>

<!-- table of people info end -->
<!-- add new case start -->
<div class="move">
<div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#myModal"><img src="{% static 'sub-static2/images/+.png' %}" alt=""></button>
    </div>
    <div class="column">
      <button class="btnn" data-toggle="modal" data-target="#"><img src="{% static 'sub-static2/images/-.png' %}" alt=""></button>
    </div>
  </div>
  </div>

<!-- add new case end -->
<!-- add new case box start -->

<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="container">
                <div class="form-body">
                  <div class="row">
                      <div class="col-md-6 col-xs-12">
                        <label><sup class="star"> * </sup>أختار نوع البرنامج</label>
                          <select required onchange="changed()" id="list" >
                            <option value="" disabled selected>لا يوجد تفضيل</option>
                            <option value="one">برامج الدعم الإجتماعي</option>
                            <option value="two">برامج التنمية العمرانية</option>
                            <option value="three">برامج الرعاية الصحية</option>
                            <option value="four">برامج التمكين الإقتصادي</option>
                        </select>
                    </div>
                  </div>
              <div class="" id="space">
                <div class="row">
                <div class="col-md-6 col-xs-12">
                    <label class="mar"><sup class="star"> * </sup>أختار البرنامج الفرعي</label>
                    <select required id="sub_menu" disabled>
                        <option value="" disabled selected>لا يوجد تفضيل</option>
                        <optgroup style="display: none;" id="social" label="برامج الدعم الإجتماعي">
                            <option value="1">رعاية المسنين</option>
                            <option value="2">كفالة اليتيم</option>
                            <option value="3">الغارمين</option>
                            <option value="3">زواج اليتيمات</option>
                            <option value="3">خدمات للمكفوفين</option>
                            <option value="3">توفير ملابس</option>
                            <option value="3">أطفال بلا مأوي</option>
                            <option value="3">توزيع شنط غذائية</option>
                        </optgroup>

                        <optgroup style="display: none;" id="development" label="برامج التنمية العمرانية">
                            <option value="1">محطة تنقية المياه</option>
                            <option value="1">تركيب عداد المنزل</option>
                            <option value="1">إعمار المنزل</option>
                        </optgroup>

                        <optgroup style="display: none;" id="medical" label="برامج الرعاية الصحية">
                            <option value="1">إجراء العمليات الجراحية</option>
                            <option value="2">إجراء التحاليل و الأشعة</option>
                            <option value="3">علاج الأدمان</option>
                            <option value="4">توفير الأجهزة</option>
                            <option value="5">وحدات الغسيل الكلوي</option>
                            <option value="6">مكافحة ضعف وفقدان البصر</option>
                            <option value="7">عمليات القلب</option>
                            <option value="8">حضانات الأطفال</option>
                            <option value="9">سرطان الثدي</option>
                            <option value="10">كفالة العلاج</option>
                            <option value="11">علاج ذوي القدرات الخاصة</option>
                            <option value="12">مرضي الأورام</option>
                            <option value="13">مكافحة فيرس سي</option>
                            <option value="14">علاج ضحايا الحوادث والحروق</option>
                            <option value="15">الرفق بالحيوان</option>
                        </optgroup>

                        <optgroup style="display: none;" id="economic" label="برامج التمكين الإقتصادي">
                            <option value="1">التويف والتأهيل</option>
                            <option value="2">مشاريع الخير</option>
                            <option value="3">توزيع رؤوس مواشي</option>
                            <option value="4">القرض الحسن</option>
                        </optgroup>
                    </select>
                </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <label class="mar"><sup class="star"> * </sup>المبلغ</label>
                <input class="marleft" id="donat" type="number" id="donat">
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="mar"><sup class="star"> * </sup>وصف الحالة</label>
              <input class="marleft " id="donat" type="text" id="donat">
          </div>
        </div>

        <div style="    margin-left: 170px;
        ">
          <input  class="donatee" type="submit" value="تأكيد ">
        </div>


    </div>
  </div>


</div>
</div>
</div>
</div>
<!-- add new case box end -->


<div class="space"></div>

  <!-- start contact-way -->

  <div class="contact-way">
    <div class="caption text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>حمل الان تطبيق متضامن</h4>
            <img src="{% static 'sub-static2/images/get-it-on-google-play-png-download-app-1251.png' %}">
            <hr class="col-one-hr">
            <ul class="list-unstyled social-images">
              <li><img src="{% static 'sub-static2/images/instagram.png' %}"></li>
              <li><img src="{% static 'sub-static2/images/facebook.png' %}"></li>
              <li><img src="{% static 'sub-static2/images/twitter.png' %}"></li>
              <li><img src="{% static 'sub-static2/images/linkedin.png' %}"></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <div id="vertical-line"></div>
          </div>
          <div class="col-lg-6">
            <img class="contact-way-logo" src="{% static 'sub-static2/images/emptyarabic.png' %}">
            <h5 class="text-right">سر التضامن .. <span>التعاون</span></h5>
            <hr class="col-three-hr">
            <h6 class="text-center">تواصل معنا</h6>
            <table>
              <tr>
                <td><h6>motadamn@gmail.com</h6></td>
                <td><img src="{% static 'sub-static2/images/email.png' %}"></td>
              </tr>
              <tr>
                <td><h6 id="call">+201122471913</h6></td>
                <td><img src="{% static 'sub-static2/images/email.png' %}"></td>
              </tr>
              <tr>
                <td><h6>كلية التجارة - جامعة الاسكندرية</h6></td>
                <td><img src="{% static 'sub-static2/images/email.png' %}"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- end contact-way -->

<!-- start footer -->

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h6 class="text-right">جميع الحقوق محفوظة | متضامن &copy; 2020</h6>
        </div>
        <div class="col-md-6">
          <h6 class="text-right">شروط وسياسة متضامن</h6>
        </div>
      </div>
    </div>
  </div>

<!-- end footer -->











      <script src="{% static 'sub-static2/js/jquery.js' %}"></script>
      <script src="{% static 'sub-static2/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'sub-static2/js/script.js' %}"></script>

</body>
