{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>profile el gm3ia</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'sub-static2/css/bootstrap.min.css' %}">
    <link rel='stylesheet' media='screen' href="{% static 'sub-static2/css/profile-elgm3ia.css' %}">
    <link rel='stylesheet' media='screen' href="{% static 'sub-static2/css/media queries.css' %}">
    <link rel="stylesheet" href="{% static 'sub-static2/css/all.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'sub-static2/https://fontlibrary.org/face/notourdu' %}" >
    <link rel="stylesheet" href="{% static 'sub-static2/css/hover.css' %}" />
  </head>
  <body>
       <!-- start navbar -->
<div class="background"></div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="chevron" src="{% static 'sub-static2/images/received_710437753044351.png' %}">
              <img src="{% static 'sub-static2/images/received_1837342366438740.png' %}">
            </a>
            <div class="dropdown-menu language" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">English</a>
              <a class="dropdown-item" href="#">عربي</a>
            </div>
        </li>

        <li class="nav-item dropdown ">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <button class="btn"><i class="fas fa-chevron-down"></i>تسجيل الدخول</button>
            </a>
            <div class="dropdown-menu signup" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'sign_in' %}">جمعية خيرية</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'sign_in' %}">متبرع</a>
            </div>
        </li>

        <li class="nav-item">
          <a class="nav-link btn donate" href="{% url 'donation' %}">تبرع الان</a>
        </li>

          <span class="Bar">
            <li class="nav-item conect">
              <a class="nav-link hvr-shrink" href="{% url 'contact_us' %}"> تواصل معنا</a>
            </li>

            <li class="nav-item">
              <a class="nav-link hvr-shrink" href="{% url 'question_answer' %}">التوعية</a>
            </li>

            <li class="nav-item">
                <a class="nav-link hvr-shrink" href="{% url 'news' %}">الاخبار</a>
            </li>

            <li id="li-padding" class="nav-item">
                <a class="nav-link hvr-shrink" href="{% url 'about_us' %}">عن متضامن</a>
            </li>
            <hr>
          </span>

        <li id="li-padding" class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <img class="logo" src="{% static 'sub-static2/images/emptyarabic.png' %}">
            </a>
          </li>
      </ul>

    </div>
  </nav>
  <!-- end navbar -->
        <!-- ahl msr img start -->
        <div class="ahl-msr">
            <img src="{% static 'sub-static2/images/155.png' %}" alt="">
        </div>
        <div><img class="imgsize" src="{% static 'sub-static2/images/Group205.png' %}" alt="bl7"></div>
<!-- ahl msr img end -->
<!-- buttons start-->
<div>
<a class="hvr-shrink button" href="#"> إضافة مستفيد</a>
<h3 class="font-farsi">مع بعض ننقذ حياة</h3>
<p>مهمتنا واضحة من البداية بس مش هتكمل الا بتبرعاتكم، لأننا مش عايزين نكون مجرد مكان بس بيعالج حالات كتير حوالينا، نفسنا نكون مؤسسة متكاملة بداية من التوعية بمخاطر الحروق وكيفية الوقاية منها، مروراً بالعلاج وإنقاذ الحالات وإعادة تأهيلهم علي كل المستويات ومساعدة الضحايا وأسرهم وعائلاتهم انهم يتخطوا اللي حصل نفسياً واجتماعياً، وكل ده مش هيكمل من غير مساعدتكوا لينا بتبرعاتكم عشان تكونوا شركاء لينا في كل خطوة بنتقدمها.

</p>
<div class="space">
<a id="but"  class="hvr-shrink buttonn" href="#"> جميع المستفيدين </a>
<a id="but2" class="hvr-shrink buttonn" href="#">  جميع الحالات</a>
</div>
</div>
<!-- buttons end -->









     <!-- start contact-way -->

  <div class="contact-way">
    <div class="caption text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>حمل الان تطبيق متضامن</h4>
            <img src="{% static 'sub-static2/images/get-it-on-google-play-png-download-app-1251.png' %}">
            <hr class="col-one-hr">
            <ul class="list-unstyled social-images">
              <li><img src="{% static 'sub-static2/images/instagram.png' %}"></li>
              <li><img src="{% static 'sub-static2/images/facebook.png' %}"></li>
              <li><img src="{% static 'sub-static2/images/twitter.png' %}"></li>
              <li><img src="{% static 'sub-static2/images/linkedin.png' %}"></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <div id="vertical-line"></div>
          </div>
          <div class="col-lg-6">
            <img class="contact-way-logo" src="{% static 'sub-static2/images/emptyarabic.png' %}">
            <h5 class="text-right">سر التضامن .. <span>التعاون</span></h5>
            <hr class="col-three-hr">
            <h6 class="text-center">تواصل معنا</h6>
            <table>
              <tr>
                <td><h6>motadamn@gmail.com</h6></td>
                <td><img src="{% static 'sub-static2/images/email.png' %}"></td>
              </tr>
              <tr>
                <td><h6 id="call">+201122471913</h6></td>
                <td><img src="{% static 'sub-static2/images/email.png' %}"></td>
              </tr>
              <tr>
                <td><h6>كلية التجارة - جامعة الاسكندرية</h6></td>
                <td><img src="{% static 'sub-static2/images/email.png' %}"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- end contact-way -->

<!-- start footer -->

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h6 class="text-right">جميع الحقوق محفوظة | متضامن &copy; 2020</h6>
        </div>
        <div class="col-md-6">
          <h6 class="text-right">شروط وسياسة متضامن</h6>
        </div>
      </div>
    </div>
  </div>

<!-- end footer -->











      <script src="{% static 'sub-static2/js/jquery.js' %}"></script>
      <script src="{% static 'sub-static2/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'sub-static2/js/script.js' %}"></script>
  </body>
