{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>اسئلة توزيع الملابس</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href=" {% static 'sub-static/css/bootstrap.min.css' %}">
    <link rel='stylesheet' media='screen' href="{% static 'sub-static/css/ques.css' %}">
    <link rel='stylesheet' media='screen' href="{% static 'sub-static/css/media queries-baramg.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'sub-static/css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'sub-static/css/all.min.css' %}">

</head>
<body>

    <!-- start navbar -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="chevron" src=" {% static 'sub-static/images/received_710437753044351.png' %}">
                  <img src="{% static 'sub-static/images/received_1837342366438740.png' %} ">
                </a>
                <div class="dropdown-menu language" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">English</a>
                  <a class="dropdown-item" href="#">عربي</a>
                </div>
            </li>

              <li class="nav-item dropdown ">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <button class="btn"><i class="fas fa-chevron-down"></i>تسجيل الدخول</button>
                </a>
                <div class="dropdown-menu signup" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">جمعية خيرية</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">متبرع</a>
                </div>
              </li>

            <li class="nav-item">
              <a class="nav-link btn donate" href="dss box.html">تبرع الان</a>
            </li>

              <span class="Bar">
                <li class="nav-item conect">
                    <a class="nav-link hvr-shrink" href="#"> تواصل معنا</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link hvr-shrink" href="#">التوعية</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link hvr-shrink" href="#">الاخبار</a>
                </li>

                <li id="li-padding" class="nav-item">
                    <a class="nav-link hvr-shrink" href="#">عن متضامن</a>
                </li>
                <hr>
              </span>

            <li id="li-padding" class="nav-item">
                <a class="nav-link" href="main.html">
                    <img class="logo" src="{% static 'sub-static/images/emptyarabic.png' %} ">
                </a>
            </li>
          </ul>

        </div>
    </nav>

    <!-- end navbar -->

    <!-- start question -->
    <div class="question">
      <h2>برنامج توزيع الملابس</h2>
      <form id="form">

        <div class="form-field f-field">
          <h5><sub>*</sub><span>السن؟</span><sup>*</sup></h5>
          <input type="radio" id="yes" name="السن" value="أقل من 18" />
          <label class="eight" for="yes"><span>أقل من 18 سنة</span></label>
          <input type="radio" id="n-direct" name="السن" value="من 18 حتي 40"/>
          <label for="n-direct" class="label m-eight"><span>من 18 حتي 40 سنة</span></label>
          <input type="radio" id="direct" name="السن" value="أكبر من 40"/>
          <label for="direct" class="label mo-forty"><span>أكبر من 40 سنة</span></label>
        </div>

        <div class="form-field fi-field">
          <h5><sub>*</sub><span>ما قيمة الدخل؟</span><sup>*</sup></h5>
          <input type="radio" id="zero" name="الدخل" value="من 0 الي 500" />
          <label for="zero"><span  class="f-hundred" > من 0 إلي 500 جنيه</span></label>
          <input type="radio" id="thousand" name="الدخل" value="من 500 الي 1000"/>
          <label class="lbe" for="thousand"><span>من 500 إلي 1000 جنيه</span></label>
          <input type="radio" id="more" name="الدخل" value="أكثر من 1000"/>
          <label for="more" class="label"><span>أكثر من 1000 جنيه</span></label>
          <input type="text" placeholder="اكتب قيمة الدخل">
        </div>

        <div class="form-field th-field">
          <h5 class="h5"><sub>*</sub><span>عدد أفراد الأسرة</span><sup>*</sup></h5>
          <input type="radio" id="there" name="افراد الاسرة" value="من 0 حتي 3" />
          <label class="label" for="there"><span>من 0 حتي 3</span></label>
          <input type="radio" id="not" name="افراد الاسرة" value="أكثر من 3"/>
          <label for="not" class="label"><span>أكثر من 3 أفراد</span></label>
        </div>
        <br>
        <div class="form-field th-field">
          <h5 class="h5"><sub>*</sub><span>عدد أفراد الأسرة القادرة علي العمل؟</span><sup>*</sup></h5>
          <input type="radio" id="frd" name="عدد أفراد الاسرة القادرة علي العمل" value="فرد واحد" />
          <label class="label" for="frd"><span>فرد واحد</span></label>
          <input type="radio" id="more-frd" name="عدد أفراد الاسرة القادرة علي العمل" value="أكثر من فرد"/>
          <label for="more-frd" class="label"><span>أكثر من فرد</span></label>
        </div>

        <br>
        <div class="form-field th-field">
          <h5 class="h5"><sub>*</sub><span>هل يوجد ف الاسرة أطفال أقل من 16 سنة؟</span><sup>*</sup></h5>
          <input type="radio" id="sixteen" name=" هل يوجد أطفال أقل من 16 سنة" value="نعم" />
          <label class="label" for="sixteen"><span>لا</span></label>
          <input type="radio" id="no-sixteen" name=" هل يوجد أطفال أقل من 16 سنة" value="لا"/>
          <label for="no-sixteen" class="label"><span>نعم</span></label>
        </div>


        <input class="btnn" type="submit" value="إضافة">
      </form>

    </div>

    <!-- end question -->

    <script src="{% static 'sub-static/ js/jquery.js' %}"></script>
    <script src="{% static 'sub-static/js/popper.min.js' %} "></script>
    <script src="{% static 'sub-static/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'sub-static/js/script.js' %} "></script>
</body>
</html>
