body{
    background-image: url(../images/5e9a1542767642.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 566px;
} 

@font-face {
    font-family: 'NotoNastaliqUrduRegular';
        src: url("../fonts/NotoNastaliqUrdu-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* start navbar */

.navbar{
    margin-left: 49px;
    margin-top: 30px;
}

.navbar .navbar-collapse ul li .nav-link .chevron{
    width: 15px;
}

.navbar .navbar-collapse ul li .nav-link img{
    width: 30px;
    margin-top: 8px;
}

.dropdown-menu{
    min-width: 0;
}

.navbar .dropdown-menu{
    width: 179px;
}

.dropdown-item{
    text-align: center;
}

.navbar .navbar-collapse ul .dropdown .language{
    margin-left: -60px;
    text-align: right;
    top: 35%;
    width: 120px;
}

.navbar .navbar-collapse ul .dropdown .signup{
    text-align: right;
    top: 35%;
    margin-left: 9px;
}


.navbar .navbar-collapse ul li .nav-link button{
    color: #fff;
    background: #f7dc0c;
    border-radius: 5px;
    margin-right: 25px;
    font-size: 23px;
    padding: 5px 10px;
    letter-spacing: 1px;
}

.navbar .navbar-collapse ul li .nav-link button i{
    padding-bottom: 4px;
    font-size: 13px;
}

.btn:focus{
    box-shadow: none;
}

.navbar .navbar-collapse ul li .donate{
    color: #fff;
    background: #7FD858;
    font-size: 24px;
    font-weight: 400;
    padding: 6px 10px 5px;
    margin-top: 8px;
    border-radius: 5px;
    margin-right: 100px;
    letter-spacing: 1px;
    
    
}

.navbar .navbar-collapse ul li .donate:hover{
    background: #0064BF;
    color: #fff;
}

.navbar .navbar-collapse ul .Bar .nav-item{
    display: inline-block;
}

.navbar .navbar-collapse ul .Bar li{
   padding-right: 29px; 
}

.navbar .navbar-collapse ul .Bar .conect{
    padding-left: 29px;
}

.navbar .navbar-collapse ul .Bar .nav-item a:hover{
    color: #f7dc0c;
}

.navbar .navbar-collapse ul .Bar li .nav-link{
    color: #fff;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
} 

hr{
    margin-top: .5rem;
    background: #ffffff;
}

.navbar .navbar-collapse ul li .nav-link .logo{
    width: 285px;
    margin-left: 120px;
    margin-top: -65px;
    
}

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -200px;
}
/* end navbar */

/* start form */

form{
    margin-top: 20vh;
}

form h2{
    color: #fff;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 3.5px;
    font-size: 35px;
    line-height: 2; 
    margin-bottom: 40px;
}

form .form-body{
    width: 500px;
    text-align: center;
    background: rgba(255, 255, 255, 0.46);
    margin-left: 40vh;
}

form .form-body label{
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    float: right;
    margin-right: 36px;
}

form .form-body .dropdown-menu{
    width: 180px;
    margin-left: 10px;
    margin-top: 3px;
}

select:required:invalid {
    color: gray;
}
  
option[value=""][disabled] {
    display: none;
}
  
option {
    color: black;
}

form .form-body select{
    direction: rtl;  
    background-color: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    padding-bottom: 10px;
    padding:6px 12px;
    width: 200px;
}

form .form-body select:focus ,
form .form-body select:visited{
    border: none;
}

form .form-body .dropdown i{
    color: black;
    padding-right: 50px;
} 

form .form-body sup{
    color: red;
    font-size: 20px;
    top: -.3rem;
}

form .form-body input[type="text"]{
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    direction: rtl;
}

form .form-body .alex{
    margin-right: 28px;
}

form .form-body .cairo{
    margin-right: 52px;
}

form .form-body .giza{
    margin-right: 60px;
}

form .form-body input:focus{
    border: 1px solid #ffffff;
    border-radius: 25px;
}

form .form-body .need{
    margin-top: 20px;
    margin-right: 35px;
}

form .form-body .needy{
    margin-top: 27px;
    margin-left: 19%;
    position: absolute;
}

form .form-body input[type="submit"]{
    background: #7FD858;
    color: #fff;
    font-size: 25px;
    padding-top: 0;
    padding-left: 35px;
    padding-right: 36px;
    margin-bottom: 10px;
    margin-top: 75px;
    border-radius: 10px;
    border: none;
    padding-bottom: 5px;
    margin-left: 20vh;
    margin-bottom: 50px;
}

form .form-body .town{
    position: absolute;
    margin-left: 40vh;
}


.multiselect {
    width: 223px;
    cursor: pointer;
    margin-top: 52px;
    margin-left: 35vh;
}
  
.selectBox {
    position: relative;
    margin-left: 14px;
}
  
.selectBox select {
    width: 100%;
    color: grey;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes {
    display: none;
    position: absolute;
    width: 67%;
    margin-left: 30px;
    z-index: 99999;
    background: #eeeeee;
}
  
#checkboxes label {
    display: block;
    margin-top: 0;
    letter-spacing: 0;
}

.multiselect #checkboxes label[for="one"]{
    margin-top: 5px;
    margin-right: 33px;
    padding-right: 5px;
   
}

.multiselect #checkboxes label[for="two"]{
    margin-right: 33px;
    padding-right: 5px;
    
}

.multiselect #checkboxes label[for="three"]{
    margin-right: 33px;
    padding-right: 5px;
    
}

.multiselect #checkboxes #one{
    margin-right: 27px;
    cursor: pointer;
}

.multiselect #checkboxes #two{
    margin-right: 46px;
    cursor: pointer;
}

.multiselect #checkboxes #three{
    margin-right: 50px;
    cursor: pointer;
}