.background{
    background-image: url(../images/as.jpeg);
    height: 400PX; 
    max-width: 100%;
    background-size: cover;

    }
    
/* start navbar */

.navbar{
    margin-left: 49px;
    margin-top: 30px;
}

.navbar .navbar-collapse ul li .nav-link .chevron{
    width: 15px;
}

.navbar .navbar-collapse ul li .nav-link img{
    width: 30px;
    margin-top: 8px;
}

.dropdown-menu{
    min-width: 0;
}

.navbar .dropdown-menu{
    width: 148px;
}

.dropdown-item{
    text-align: center;
}

.navbar .navbar-collapse ul .dropdown .language{
    margin-left: -60px;
    text-align: right;
    top: 35%;
    width: 120px;
}

.navbar .navbar-collapse ul .dropdown .signup{
    text-align: right;
    top: 35%;
    margin-left: 9px;
}


.navbar .navbar-collapse ul li .nav-link button{
    color: #fff;
    background: #f7dc0c;
    border-radius: 5px;
    margin-right: 25px;
    font-size: 23px;
    padding: 5px 3px;
    letter-spacing: 1px;
}

.navbar .navbar-collapse ul li .nav-link button i{
    padding-bottom: 4px;
    font-size: 13px;
}

.btn:focus{
    box-shadow: none;
}
.btn-primary {
    color: #7FD858;
    background-color: transparent;
    border-color: #fff; /*set the color you want here*/
    font-size: 25px;
}
.btn-primary:hover {
    color: #0064BF;
    background-color:transparent;
    border-color: #fff; /*set the color you want here*/
    cursor: pointer;

}



.navbar .navbar-collapse ul li .donate{
    color: #fff;
    background: #7FD858;
    font-size: 24px;
    font-weight: 400;
    padding: 6px 15px 5px;
    margin-top: 8px;
    border-radius: 5px;
    margin-right: 100px;
    letter-spacing: 1px;
    
}

.navbar .navbar-collapse ul li .donate:hover{
    background: #0064BF;
    color: #fff;
}

.navbar .navbar-collapse ul .Bar .nav-item{
    display: inline-block;
    font-family: 'NotoNastaliqUrduRegular';
    text-decoration: none;
     transition-duration: 0.4s;
}
/*
.nav-item a{
    background-color: #4CAF50; /* Green 
    color: #F7DC0C;
} */
.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff; /*set the color you want here*/
    font-size: 25px;
}
.btn-primary:hover {
    color: #F7DC0C;
    background-color:transparent;
    border-color: #fff; /*set the color you want here*/
}




.navbar .navbar-collapse ul .Bar li{
   padding-right: 29px; 
}

.navbar .navbar-collapse ul .Bar .conect{
    padding-left: 29px;
}
.navbar .navbar-collapse ul .Bar .nav-item a:hover{
    color: #F7DC0C;
}

.navbar .navbar-collapse ul .Bar li .nav-link{
    color: #fff;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
} 

hr{
    padding: 1px;
    margin-top: .5rem;
    background: #ffffff;
}

.navbar .navbar-collapse ul li .nav-link .logo{
    width: 289px;
    margin-left: 120px;
    margin-top: -75px;
    
}

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -200px;
}
/* end navbar */

/* img ahl msr start*/
.ahl-msr{
    margin-top: -94px;
    margin-left: 221px;
}
.ahl-msr img{
    width: 200px;
    height: 200px;
}
/* ahl masr img end */
.imgsize{
    width: 50px;
    height: 50px;
    margin-left: 213px;
    margin-top: -85px;
}
/* buttons start */
.button{
    color: #fff;
    text-decoration: none;
    background-color: #0064BF;
    border-radius: 45px;
    padding:10px ;
    width: 150px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-family:'NotoNastaliqUrduRegular';
    margin-top: -347px;
    margin-left: 498px;

}
.button:hover{
    background-color: #F7DC0C;
    color: #fff;
    text-decoration: none;
}
.buttonn{
    color: #fff;
    text-decoration: none;
    background-color: #F7DC0C;
    border-radius: 5px;
    padding:10px ;
    width: 150px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-weight: bold;

}
.buttonn:hover{
    background-color: #0064BF;
    color: #fff;
    text-decoration: none;
}
#but{
    margin-left: 679px;

}
#but2{
    margin-left: 50px;

}
h3{
    letter-spacing: 1.1px;
    margin-right: 372px;
    float: right;
    margin-top: -129px;
    color:#0064BF ;
    font-weight: normal;
    font-style: normal;
    font-family:'NotoNastaliqUrduRegular';


}
p{
    margin-top: 0;
    margin-bottom: 2rem;
    width: 40%;
    text-align: center;
    margin-left: 539px;
    margin-top: -96px;
}
.space{
margin-bottom: 50px;
}













/* start contact-way*/

.contact-way{
    background-image: url(../images/5e9a02371ea331.png);
    background-size: cover;
    height: 500px;
    max-width: 100%;
    right: 0;
}

.contact-way .caption{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 100, 191, .6);

}

 .contact-way .caption h4{
    color: #fff;
    letter-spacing: 2px;
    line-height: 2em;
    font-size: 1.35rem;
    margin-top: 25vh;
}

.contact-way .caption img{
    width: 330px;
}

.contact-way .caption .col-one-hr{
    width: 85%;
    background: #fff;
    margin-top: 20px;
}

.contact-way .caption #vertical-line{
    width: 1px;
    background: #fff;
    height: 400px;
    margin-left: 145px;
    margin-top: 50px;
}

.contact-way .caption .contact-way-logo{
    float: right;
    width: 350px;
    margin-top:-35px;
    margin-right: -25vh;
    margin-left: -90px;
}

.contact-way .caption h5{
    margin-top: 55px;
    color: #fff;
    line-height: 2rem;
    letter-spacing: 2px;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    
}

.contact-way .caption h5>span{
    color: #f7dc0c ;
}

.contact-way .caption .col-three-hr{
    margin-top: 50px;
    width: 50%;
    margin-right: 12vh;
}

.contact-way .caption h6{
    margin-left: 120px;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.contact-way .caption .social-images{
    margin-left: 50px;
}

.contact-way .caption .social-images li{
    float: left;
    margin-right: 15px;
}

.contact-way .caption .social-images li img{
    width: 40px;
}

.contact-way .caption table{
    float: right;
    margin-top: 50px;
    margin-right: -100px;
}

.contact-way .caption table tr h6{
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.contact-way .caption table tr #call{
    margin-right: -50px;
}

.contact-way .caption table tr img{
    width: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/* end .contact-way */

/* start footer */

.footer{
    margin-top: 10px;
   
}

.footer h6{
    color: #038ADD ;
}

/* end footer */
