/* start home page  */
#back1{
background-image: url(../images/as.jpeg);
height: 727PX;
max-width: 100%;
background-size: cover;
}

/* start carousel */
.carousel-control-prev{
     margin-top: -193px; 
     top: 200px;
     margin-top: -213px;



}
.carousel-control-next{
     margin-top: -193px; 
     top: 200px;
     margin-top: -207px;



}
#back1 .carousel-inner{
    width: 800.71px;
    height: 624px;
   margin: 0 auto;  /*important */
   max-width: none;  /*important */
    top: 185px;
    left: 30px;

}
#back1 .carousel-inner img{
    background-color:rgba(0,0,0,0.5);
}
#back1 .carousel-caption h5{
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: bold;
    font-style: normal;
    color: #038ADD;
    margin-bottom: 130px;
    font-size: 49px;
    text-align: right;
}

.sp1{

    color:#F7DC0C;
}
#back1 .carousel-caption p{
font-size: 16px;
font-weight:normal;
margin: 45px;
}

/* end carousel */

/* start navbar */

.navbar{
    margin-left: 49px;
    margin-top: 30px;
}

.navbar .navbar-collapse ul li .nav-link .chevron{
    width: 15px;
}

.navbar .navbar-collapse ul li .nav-link img{
    width: 30px;
    margin-top: 8px;
}

.dropdown-menu{
    min-width: 0;
}

.navbar .dropdown-menu{
    width: 148px;
}

.dropdown-item{
    text-align: center;
}

.navbar .navbar-collapse ul .dropdown .language{
    margin-left: -60px;
    text-align: right;
    top: 35%;
    width: 120px;
}

.navbar .navbar-collapse ul .dropdown .signup{
    text-align: right;
    top: 35%;
    margin-left: 9px;
}


.navbar .navbar-collapse ul li .nav-link button{
    color: #fff;
    background: #f7dc0c;
    border-radius: 5px;
    margin-right: 25px;
    font-size: 23px;
    padding: 5px 3px;
    letter-spacing: 1px;
}

.navbar .navbar-collapse ul li .nav-link button i{
    padding-bottom: 4px;
    font-size: 13px;
}

.btn:focus{
    box-shadow: none;
}
.btn-primary {
    color: #7FD858;
    background-color: transparent;
    border-color: #fff; /*set the color you want here*/
    font-size: 25px;
}
.btn-primary:hover {
    color: #0064BF;
    background-color:transparent;
    border-color: #fff; /*set the color you want here*/
    cursor: pointer;

}



.navbar .navbar-collapse ul li .donate{
    color: #fff;
    background: #7FD858;
    font-size: 24px;
    font-weight: 400;
    padding: 6px 15px 5px;
    margin-top: 8px;
    border-radius: 5px;
    margin-right: 100px;
    letter-spacing: 1px;
    
}

.navbar .navbar-collapse ul li .donate:hover{
    background: #0064BF;
    color: #fff;
}

.navbar .navbar-collapse ul .Bar .nav-item{
    display: inline-block;
    font-family: 'NotoNastaliqUrduRegular';
    text-decoration: none;
     transition-duration: 0.4s;
}
/*
.nav-item a{
    background-color: #4CAF50; /* Green 
    color: #F7DC0C;
} */
.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff; /*set the color you want here*/
    font-size: 25px;
}
.btn-primary:hover {
    color: #F7DC0C;
    background-color:transparent;
    border-color: #fff; /*set the color you want here*/
}




.navbar .navbar-collapse ul .Bar li{
   padding-right: 29px; 
}

.navbar .navbar-collapse ul .Bar .conect{
    padding-left: 29px;
}
.navbar .navbar-collapse ul .Bar .nav-item a:hover{
    color: #F7DC0C;
}

.navbar .navbar-collapse ul .Bar li .nav-link{
    color: #fff;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
} 

hr{
    padding: 1px;
    margin-top: .5rem;
    background: #ffffff;
}

.navbar .navbar-collapse ul li .nav-link .logo{
    width: 289px;
    margin-left: 120px;
    margin-top: -75px;
    
}

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -200px;
}
/* end navbar */
/* mosa3ed zaki start */
.smart{
    color: #0064BF;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}
.back{
    padding-top: 15px;
    height: 168px;
    width: 16%;
    margin-left: 100px;
    margin-top: -400px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 10%;
    border-style: solid;
    border-color: #0064BF;

}
.center {
   text-align: center;
   font-weight: normal;
   font-style: normal;
}    

/* mosa3ed zaki end */
/* programs start */
#hrid{
    width: 80%;
    padding: 0px;
    margin-top: .5rem;
    background: gray;
}
.smart2{
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.back2{
    border-style: solid;
    border-color: #0064BF;
    text-align: center;
    padding-top: 15px;
    height: 350px;
    width: 16%;
    margin-right: 50px;
    margin-top: -400px;
    background-color: #FFFFFF;
    border-radius: 10%;
    float: right;
}
/* .btn-primary1 {
    color: #000000;
    background-color: transparent;
    border-color: #fff; /*set the color you want here
    font-size: 25px;}*/

.btn-primary1:hover {
    color: #7FD858;
    background-color:transparent;
    border-color: #ffffff; /*set the color you want here*/
} 

/* program end */
/* takom be start */
.float-rightt  {
    padding-left: 20px;
    float: right;
}
.margin{
    margin-right: 90px;
    padding-bottom: 50px;
    font-size: 25px;
    
}
.font-farsi{
font-family: 'NotoNastaliqUrduRegular';
font-weight: normal;
font-style: normal;
color: #1864BF ;


}
.background{
    background-color: #fff;
    padding:18px 30px;
    font-size: 20px;
    border-radius: 35px;
border: 1px solid #fff;
}


/* takom be end */
/* logo start */
.zbt1{
    float: left;
    position: absolute;
    margin-top: 437px;
    height: 100px;
    margin-left: -524px;
    z-index: 999;
}
.float-left1{
    float: left;
}
.ff{
    padding-bottom:0px ;

}
.ff img {
    height: 130px;
    width: 175px;
    padding-right: 50px;
}
.back-height{
    height: 165px;

}

/* logo end */
/* mohmtna  start*/
.bold{
    font-weight: bold;
}
h3{
    position: relative;
    z-index: 999;
    float: right;
    margin: 20px;
    margin-right:100px;
}
 .about-border {
    display: block;
    width: 80px;
    height: 3px;
    background: #f1cd8f;
    float:right;
}
.col-one-hr{
    position: relative;
    z-index: 999;
    width: 6%;
    background: #F7DC0C;
    margin-top: 75px;
    float: right;
    margin-right: -55px;
    height: 3px;
}
.centerrr{
    width: 74%;
    text-align: center;
    margin-left: 119px;
    line-height: 2.5;
    font-size: 20px;
}






/* mohmtna end */
/* brameg start */
/* start cases */

.cases .heading{
    position: relative;
    margin-top: 60px;
}

.cases .heading img{
    width: 70px;
    float: left;
    margin-left: 25vh;
    margin-top: -20px;
   
}

.cases .dropdown-menu{
    margin-left: 115px;
    padding-left: 10px;
    padding-right: 13px;
    border: 4px solid #86B9F7;
    margin-top: 97vh;
}

.cases .dropdown-menu h4{
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.cases .dropdown-menu h5{
    color: #0064BF;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: right;
}

.cases .dropdown-menu label{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.cases .dropdown-menu label span{
    padding-left: 5px;
}

.cases .dropdown-menu input[type="checkbox"]{
    margin-left: 7vh;
}

.cases .dropdown-menu label[for="older"]{
    margin-left: 29px;
}

.cases .dropdown-menu label[for="newer"]{
    margin-left: 22px;
}

.cases .dropdown-menu label[for="younger"]{
    margin-left: 4px;
}

.cases .dropdown-menu label[for="cheaper"]{
    margin-left: 9px;
}

.cases .dropdown-menu label[for="expensive"]{
    margin-left: 6px;
}

.cases .dropdown-menu label[for="town"]{
    margin-left: 22px;
}

.cases .dropdown-menu label[for="gender"]{
    margin-left: 39px;
}

.cases .dropdown-menu #male{
    margin-left: 5px;
}

.cases .dropdown-menu #female{
    margin-left: 20px;
}

select{width: 125px;}

.cases .heading:before{
    content: " ";
    display: block;
    position: absolute;
    top:50%;
    left: 0;
    z-index: -2;
    background: #7FD858;
    height: 10px;
    width: 100%;
}

.cases .heading h3{
    text-align: right;
    margin-top: -60px;
    margin-right: 100px;
}

.cases .heading h3 span{
    background: #86B9F7;
    color: #ffffff;
    padding: 10px 70px;
    padding-bottom: 17px;
    border-radius: 40%;
    font-size: 1.5rem;
}

#carouselExample{
    margin-top: 70px;
}

#carouselExample .carousel-caption .col-md-4 ,
#carouselExampl .carousel-caption .col-md-4{
    width: 30%;
}

#carouselExample .carousel-caption .card{
    margin-bottom: 2vh;
}

#carouselExampl .carousel-caption .card{
    margin-bottom: 3vh;
}

.carousel-caption .card img{
    height: 210px;
}

.carousel-caption .card .progress{
    height: 9px;
    border-radius: 0;
}

.carousel-caption .card .progress-bar{
    background: #0064BF;
}

.carousel-caption .card .progress-bar4{
    background: #F7DC0C;
}

.carousel-caption .card .prog-value ,
.carousel-caption .card .prog-value2 ,
.carousel-caption .card .prog-value3 ,
.carousel-caption .card .prog-value4 ,
.carousel-caption .card .prog-value6{
    position: absolute;
    margin-left: 27vh;
    border: 1px solid #0064BF;
    border-radius: 50%;
    background: #0064BF;
    padding: 3px 2px;
    font-family: initial;
}

.carousel-caption .card .prog-value2{
    margin-left: 25vh;
}

.carousel-caption .card .prog-value3{
    margin-left: 15vh;
}

.carousel-caption .card .prog-value4{
    margin-left: 31vh;
    margin-top: -6px;
}

.carousel-caption .card .prog-value6{
    margin-left: 21vh;
}

.carousel-caption .card h4{
    color: #F7DC0C;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    margin-top: 25px;
    letter-spacing: 1px;
}

.carousel-caption .card p{
    color: #000;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px auto;
    font-size: 18px;
}

.carousel-caption .card h5{
    color: #0064BF;
    text-align: left;
    margin-left: 45px;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.difff{
    text-align: right!important;
    margin-right: 10px !important;
    
}

.carousel-caption .card a{
    background: #7FD858;
    width: 120px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 1.5rem;
    padding: 2px 10px;
    padding-bottom: 8px;
    border-radius: .4rem;
}
div .card a {
font-weight: normal;
}
div .card a:hover {
    background-color:#0064BF ;
    
}
.btnnn{
    height: 48px;
    margin-top: 527px;
    border-radius: .4rem;
    padding: 2px 10px;
    margin-left: -175px;
    float: left;
    background-color:#0064BF ;
    color: #fff;
}
.btnnn:hover{
background-color: #F7DC0C;
color: #fff;
}
/* end cases */



/* brameg end */
/* a5baaaaar start */
.card1 {
    
    width: 545px;
    height: 325px;
    background: url("../images/wound-care.jpg") no-repeat;
    margin: 50px;
    background-size: 545px 325px;
}
.card2 {
    width: 545px;
    height: 325px;
    background: url("../images/ASC_0085.png") no-repeat;
    margin: 50px;
    background-size: 545px 325px;
}
.card2:hover {
    background: url("../images/new2.jpg") no-repeat;
    width: 545px;
    height: 325px;
    margin: 50px;
    background-size: 545px 325px;

}
.card1:hover {
    background: url("../images/new.jpg") no-repeat;
    width: 545px;
    height: 325px;
    background-size: 545px 325px;
    margin: 50px;
}
.col-one-hr{
    width: 6%;
    background: #F7DC0C;
    margin-top: 75px;
    float: right;
    margin-right: -55px;
    height: 3px;
}
.line4{
    width: 541px;
    height: 325px;
    left: 0px;
    top: 154px;
    overflow: visible;

}
#im1{
margin-left: 215px;
}
#im2{
float: right;
margin-top: -372px;
margin-right: 155px;

}
.centerrrr{
text-align: center;
margin-left: 482px;
line-height: 1.5;
font-size: 20px;
margin-top: 145px;
transform: translate(-50%, -50%);
height: 420px;
width: 400px;
}
h4{
    margin: 20px;
}
.btn-primaryyy {
    color: #fff;
    background-color: #F7DC0C;
    border-color: #fff;
    font-size: 22px;
    width: 149px;
    border-radius: 12px;
    margin-top: -10px;
    height: 52px;
     
}


    

.btn-primaryyy:hover {
    color: #fff;
    background-color:#0064BF;
    border-color: #fff; /*set the color you want here*/
    cursor: pointer;

}
.font-farsi-no-color{
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    
    
    }
    #onee p{
        margin-bottom: 15px;

    }
    #twoo{
        font-size: 18px;
        margin-left: 1090px;
        margin-top: -466px;


    }
    #twoo p{ margin-bottom: 150px;

    }
    #twoo  a{
        color: #fff;

    }
    #onee  a{
        color: #fff;

    }
    .coloree {
    font-weight: normal;
    }
    .colorr:hover {
        background-color:#0064BF ;
    }




/* a5baaaaar end */
.clear
{
    margin: 0px;
    padding: 0px;
}
/* start contact-way*/

.contact-way{
    background-image: url(../images/5e9a02371ea331.png);
    background-size: cover;
    height: 500px;
    max-width: 100%;
    right: 0;
}

.contact-way .caption{
    width: 100%;
    height: 100%;
    margin-top: -205px;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 100, 191, .6);

}

 .contact-way .caption h4{
    color: #fff;
    letter-spacing: 2px;
    line-height: 2em;
    font-size: 1.35rem;
    margin-top: 25vh;
}

.contact-way .caption img{
    width: 330px;
}

.contact-way .caption .col-one-hr{
    width: 116%;
    background: #fff;
    margin-top: 20px;
    height: 0px;

}

.contact-way .caption #vertical-line{
    width: 1px;
    background: #fff;
    height: 400px;
    margin-left: 145px;
    margin-top: 50px;
}

.contact-way .caption .contact-way-logo{
    float: right;
    width: 350px;
    margin-top:-35px;
    margin-right: -25vh;
    margin-left: -90px;
}

.contact-way .caption h5{
    margin-top: 55px;
    color: #fff;
    line-height: 2rem;
    letter-spacing: 2px;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    
}

.contact-way .caption h5>span{
    color: #f7dc0c ;
}

.contact-way .caption .col-three-hr{
    margin-top: 50px;
    width: 50%;
    margin-right: 12vh;
}

.contact-way .caption h6{
    margin-left: 120px;
    font-family: 'NotoNastaliqUrduRegular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 20px;

}

.contact-way .caption .social-images{
    margin-left: 50px;
}

.contact-way .caption .social-images li{
    float: left;
    margin-right: 15px;
}

.contact-way .caption .social-images li img{
    width: 40px;
}

.contact-way .caption table{
    float: right;
    margin-top: 50px;
    margin-right: -100px;
}

.contact-way .caption table tr h6{
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.contact-way .caption table tr #call{
    margin-right: -50px;
}

.contact-way .caption table tr img{
    width: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/* end .contact-way */

/* start footer */

.footer{
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.footer h6{
    color: #038ADD ;
}

/* end footer */
/* home page end  */
