{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> التوعية</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'sub-static/css/bootstrap.min.css' %}">
    <link rel='stylesheet' media='screen' href="{% static 'sub-static/css/Q&A.css' %}">
    <link rel='stylesheet' media='screen' href="{% static 'sub-static/css/media queries-baramg.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'sub-static/css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'sub-static/css/all.min.css' %}">

</head>
<body>

  <!-- start carousel -->

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{% static 'sub-static/images/nick.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h1 class="text-center">الأسئلة الشائعة </h1>
            </div>
        </div>
    </div>

    </div>

<!-- end carousel -->

<!-- start navbar -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="chevron" src="{% static 'sub-static/images/received_710437753044351.png' %}">
                    <img src="{% static 'sub-static/images/received_1837342366438740.png' %}">
                </a>
                <div class="dropdown-menu language" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">عربي</a>
                </div>
            </li>

                <li class="nav-item dropdown ">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <button class="btn"><i class="fas fa-chevron-down"></i>تسجيل الدخول</button>
                </a>
                <div class="dropdown-menu signup" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'sign_in' %}">جمعية خيرية</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{% url 'sign_in' %}">متبرع</a>
                </div>
                </li>

            <li class="nav-item">
                <a class="nav-link btn donate" href="{% url 'donation:donation' %}">تبرع الان</a>
            </li>

                <span class="Bar">
                <li class="nav-item conect">
                    <a class="nav-link hvr-shrink" href="{% url 'contact_us' %}"> تواصل معنا</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link hvr-shrink" href="{% url 'question_answer' %}">التوعية</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link hvr-shrink" href="{% url 'news' %}">الاخبار</a>
                </li>

                <li id="li-padding" class="nav-item">
                    <a class="nav-link hvr-shrink" href="{% url 'about_us' %}">عن متضامن</a>
                </li>
                <hr>
                </span>

            <li id="li-padding" class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <img class="logo" src="{% static 'sub-static/images/emptyarabic.png' %}">
                </a>
            </li>
            </ul>

        </div>
    </nav>

<!-- end navbar -->

<!-- start question -->

<div class="questions">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="answer answer-one shadow-lg" id="answer_one">
                    <h3 class="text-center">ما هى المجالات التى تقدمها متضامن ؟</h3>
                    <p class="text-center">متضامن تقوم بالمساعدات الموسمية: لحوم الاضاحى و كراتين رمضان و توزيع بطانية الشتاء و المشاركة فى يوم اليتيم . بالاضافة الى عمل مشروعات تنموية للغير قادرين من الارامل و معدومى الدخل مثل الكشك و راس الماشييةوتفديم القرض وسداد ديون الغارميين وفى المجال الطبى تقدم عمليات قلب و عيون و تسليم اجهزة تعويضية وأطراف صناعية .</p>
                </div>

                <div class="answer answer-two shadow-lg" id="answer_two">

                    <h3 class="text-right">الأوراق المطلوبة لرؤوس المواشى</h3>
                    <p class="text-right">بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، صورة البطاقة ، بيان بالدخل أو المعاش ، ما يدل على الحالة الإجتماعية ( أرملة – مطلقة – مهجورة – محدود دخل ).
                    </p>

                    <h3 class="text-right">الأوراق المطلوبة للكشك</h3>
                    <p class="text-right">بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، صورة البطاقة ، صورة تراخيص سارى أو الأصل للإطلاع ،</p>

                    <h3 class="text-right">الأوراق المطلوبة للسماعات</h3>
                    <p class="text-right">بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، مقياس السمع ، صورة البطاقة ، شهادة الميلاد لغير حامل البطاقة ، تقرير طبى معتمد من جهة حكومية
                    </p>

                    <h3 class="text-right">الأوراق المطلوبة للأجهزة التعويضية والقدم السكرى</h3>
                    <p class="text-right">بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، صورة البطاقة ، شهادة الميلاد لغير حامل البطاقة ، تقرير طبى معتمد من جهة حكومية
                    </p>

                    <h3 class="text-right">الأوراق المطلوبة لعمليات القلب
                    </h3>
                    <p class="text-right">بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، صورة البطاقة ، شهادة الميلاد لغير حامل البطاقة ، تقرير طبى معتمد من جهة حكومية
                    </p>

                    <h3 class="text-right">الأوراق المطلوبة لعمليات العيون
                    </h3>
                    <p class="text-right">بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، صورة البطاقة ، شهادة الميلاد لغير حامل البطاقة ، تقرير طبى
                    </p>

                    <h3 class="text-right">الأوراق المطلوبة لزواج اليتيمات
                    </h3>
                    <p class="text-right no-border">بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، صورة البطاقة</p>
                </div>

                <div class="answer answer-three shadow-lg" id="answer_three">
                    <h3 class="text-right">المعرفة قوة.. والأمل سلاحها
                    </h3>
                    <p class="text-right">
                        حاول أن تتعلم كل ما يُمكن عن نوع المرض المصاب به طفلك، فهذا يُساعدك ويُساعد طفلك على مواجهة الأمر، وتسلّح دائمًا بالأمل .
                    </p>

                    <h3 class="text-right">:قوة الملاحظة عند الأطفال
                    </h3>
                    <p class="text-right">
                        حتى الأطفال الصغار والذين لايعرفون شيئًا عن المرض ، سيشعرون بأن هناك أمرًا غريبًا يحدث، سوف يلاحظون التغير الذي يحدث من حولهم، وأن هناك سرًا يتم إخفاؤه عنهم، ما يجعلهم متشككين في كل من حولهم، ويشعرون بالخوف أكثر، ويتخيلون أمورًا أسوأ من الواقع بكثير، لكن عندما تتحدث مع طفلك بمنتهى الصراحة بداية بمعلومات بسيطة، ثم التدرج في زيادة المعلومات، فهذا يجعله يشعر بـ
                        <br><br>
                        *الثقة تجاهك وتجاه الفريق الطبي المسئول عن علاجه
                        <br>
                        *الاطمئنان أنه إذا حدث أي تطور فإنك ستكون صريحًا في إخباره
                        <br>
                        *الارتياح في طرح أي أسئلة، والتعبير عن مشاعره بحرية، وسيدرك أنه محاط بالرعاية من كل الأشخاص من حوله
                    </p>

                    <h3 class="text-right">:لغة الحوار</h3>
                    <p class="text-right">
                        حافظ على هدوئك طوال الوقت واستخدم الكلمات والتعبيرات البسيطة، ولا تبتعد عن قول الحقيقة
                    </p>

                    <h3 class="text-right">:التواجد إلى جانب طفلك
                    </h3>
                    <p class="text-right">
                        أحيانا لا تجد استجابة من الطفل للحوار، ويكون الأمر صعبًا، ساعتها مجرد التواجد بجانب طفلك، مثل أن تجلس معه أثناء أداء الواجب المدرسي أو تشاهد معه التلفاز، هذا التواجد يبعث برسالة نفسية أنك ستكون دائمًا إلى جانبه، ما يجعله يشعر بالثقة والأمان.
                    </p>
                </div>

                <div class="answer answer-four shadow-lg" id="answer_four">
                    <h3 class="text-right">لست متأكدًا من أنني مؤهل للتبرع بالدم؟
                    </h3>
                    <p class="text-right">معظم المصريين مؤهلون للتبرع بالدم في أي وقت من الأوقات، لذلك هناك فرصة جيدة للغاية أن تستوفي المعايير.
                    </p>

                    <h3 class="text-right">بالنسبة للمتبرع بالدم، وهذه هي :المتطلبات الأساسية التي يجب ان تتوافر به
                    </h3>
                    <p class="text-right">
                        صحة جيدة: تشعر بشكل عام بصحة جيده
                        <br>
                        العمر: إذا كان عمرك يتراوح بين 18-65 سنة فأنت مؤهل للتبرع بالدم ومكونات الدم
                        <br>
                        الوزن: يجب أن يكون أكثر من 50 كجم
                        <br>
                        لم تتبرع بالدم في آخر 60 يومًا
                    </p>

                    <h3 class="text-right">ما هي فوائد التبرع بالدم أو الصفائح الدموية؟
                    </h3>
                    <p class="text-right">
                        بتبرعك تساعد مريض للحياة بصحه جيده
                        <br>
                        التبرع بالدم الكامل يمكن أن ينقذ حياة ثلاثة أشخاص
                        <br>
                        يمكن للتبرع بالصفائح الدموية أن يوفر علاجا كاملا من الصفائح الدموية للمريض ، وأحيانًا يصل إلى ثلاثة مرضى. العديد من الأطباء والمستشفيات يفضلونها للمرضى الذين يحتاجون إلى نقل الصفائح الدموية
                    </p>
                </div>

                <div class="answer answer-five shadow-lg" id="answer_five">
                    <h3 class="text-right">ما هي فيروسات الكورونا؟
                    </h3>
                    <p class="text-right">
                        هي عبارة عن فصيلة كبيرة من الفيروسات التي يمكن أن تتسبب في طائفة من الأمراض تتراوح بين نزلة البرد الشائعة أو المتلازمة التنفسية الحادة الشديدة (مثل متلازمة الشرق الأوسط التنفسية MERS والمتلازمة التنفسية الحادة الشديدة SARS)، وبعض منها يسبب المرض لدى الأشخاص والبعض الآخر ينتشر بين الحيوانات، بما في ذلك الجمال والقطط والخفافيش.
                    </p>

                    <h3 class="text-right">ما هو مصدر فيروس الكورونا المستجد؟
                    </h3>
                    <p class="text-right">
                        يعمل خبراء الصحة العامة حول العالم حالياً لتحديد وبائيات ومصدر هذا الفيروس المستجد ومن المرجح أن تكون الخفافيش هي المصدر المحتمل
                    </p>

                    <h3 class="text-right">
                        ما هي الأعراض والمضاعفات التي يمكن أن يسببها فيروس الكورونا المستجد SARS-CoV
                    </h3>
                    <p class="text-right">
                        تتراوح الأعراض من مرض تنفسي خفيف إلى شديد مع وجود الأعراض الآتية: الحمى والسعال وصعوبة التنفس. ويصاب بعض الناس بالعدوى دون أن تظهر عليهم أي أعراض ودون أن يشعروا بالمرض. ويتعافى معظم الأشخاص (نحو 80%) من المرض دون الحاجة إلى علاج خاص. وتزداد احتمالات إصابة المسنين والأشخاص المصابين بأمراض مزمنة مثل ارتفاع ضغط الدم أو أمراض القلب أو السكر. وقد توفى نحو 3% من الأشخاص الذين أُصيبوا بالمرض
                    </p>

                    <h3 class="text-right">
                        كيف ينتشر فيروس الكورونا المستجد SARS-CoV
                    </h3>
                    <p class="text-right">
                        عن طريق رذاذ الجهاز التنفسي الناتج من سعال أو عطس الشخص المصاب مثله مثل طريقة انتشار الأنفلونزا والأمراض التنفسية الأخرى. ويتساقط هذا الرذاذ على الأشياء والأسطح المحيطة بالشخص. ويمكن حينها أن يصاب الأشخاص الآخرون بمرض كوفيد-19 عند ملامستهم لهذه الأشياء أو الأسطح ثم لمس عينيهم أو أنفهم أو فمهم
                    </p>

                    <h3 class="text-right">
                        كيف يمكن الوقاية من الإصابة بفيروس الكورونا المستجد SARS-CoV
                    </h3>
                    <p class="text-right">
                        نظافة الأيدي (غسل اليدين بالماء والصابون / دعك الأيدي بالمطهر الكحولي)
                       <br>
                       عند السعال والعطاس، قم بتغطية الفم والأنف بمنديل ورقي أو بالكوع ثم قم بالتخلص من المنديل الورقي المستخدم فوراً واغسل يديك
                       <br>
                       النظافة البيئية السليمة مع التركيز على الأسطح الأكثر تلامساً والتي يتم لمسها بشكل متكرر مثل مقابض الأبواب (يعيش الفيروس لفترات طويلة على الأسطح قد تصل لتسعة أيام)
                       <br>
                       تقليل أعداد الزائرين للمنشآت الصحية
                       <br>
                       تطبيق احتياطات عزل الهواء والتلامس عند التعامل مع مرضى كوفيد-19 وذلك طبقاً لمراكز السيطرة على الأمراض بأتلانتا (CDC):
                       <br><br>
                       وضع المرضى في غرف عزل سالبة الضغط
                       <br>
                       ارتداء القناع الواقي للجهاز التنفسي ذات الكفاءة العالية (N95) والجاون والقفازات والنظارات الواقية عند دخول غرفة المريض
                    </p>
                </div>

                <div class="answer answer-six shadow-lg" id="answer_six">
                    <p class="text-right">
                        قرأنا كثيرًا عن نوع السرطان المصاب به طفلنا، فالكثير مما كنا نسمعه لم يتوافق مع حالة طفلنا، ولقد شعرنا بتحسن أكبر عندما فهمنا كيف سيساعده العلاج
                        <br><br>
                        كلمة سرطان تصف مجموعة من الأمراض وليس مرضًا واحدًا، حيث تقوم الخلايا السرطانية بالانقسام بشكل عشوائي ودون احتياج الجسم، ثم تبدأ في اختراق الأنسجة المجاورة، وتنتشر إلى أجزاء أخرى من الجسم
                        <br><br>
                        الخلايا الطبيعية تنمو وتنقسم بطريقة منتظمة حسب احتياج الجسم
                        <br>
                        الخلايا السرطانية تنمو وتنقسم بشكل عشوائي، ودون احتياج الجسم هذه الخلايا، تستطيع أن تخترق الأنسجة المجاورة، وتُصيب أجزاءً أخرى من الجسم، وهو مايعرف بالانتشار (metastasis)
                        <br>
                        رغم أن هناك بعض أنواع السرطانات، تكون لأسباب وراثية، لكن لا يُوجد سبب محدد وواضح لإصابة الأطفال بالسرطان، فالمرض ليس له أي علاقة بالعمر أو العرق أو الحالة الاقتصادية
                        <br>
                    </p>
                    <h3 class="text-right">الأعراض</h3>
                    <p class="text-right">
                        الأعراض المبكرة للسرطان تتشابه مع أمراض كثيرة، من :هذه الأعراض
                        <br>
                        الحمى (ارتفاع درجة الحرارة)، الشعور بالإرهاق، فقدان الوزن، تورم في الغدد، ظهور كدمات، آلام بالعظام والمفاصل
                        <br>
                        لهذا سيأمر الطبيب ببعض الفحوصات للتأكيد بالإصابة أو
                        :نفيها مثل
                        <br>اختبارات للدم، الأشعة (الأشعة المقطعية، التليفزيونية،…)، Biopsy (عبارة عن استئصال نسيج من الجسم لدراسته)
                        <br>
                        الطبيب سيقوم بوصف الحالة تبعًا لدرجة السرطان: منخفض أو متوسط أو عالى الخطورة، وهو مايعرف بالـ Stage أو Grade
                    </p>

                    <h3 class="text-right">
                        :أنواع العلاج وآثاره الجانبية
                    </h3>
                    <p class="text-right">
                        أصبح علاج السرطان أكثر تطورًا من ذي قبل في مساعدة الأطفال على الشفاء. هذا الجزء يشرح لك بعض خطط العلاج وآثاره الجانبية
                    </p>

                    <h3 class="text-right">
                        : خطة العلاج
                    </h3>
                    <p class="text-right">
                        نوع العلاج الذي تتلقا يتوقف على نوع السرطان ودرجة الحالة، كما يتوقف أيضًا على العمر. سوف يشرح لك الطبيب المسئول عنك خطة العلاج ليساعدك على فهم الأمر، وقد يستخدم بعض الصور والفيديوهات لشرح كيف يعمل العلاج
                    </p>
                </div>

                <div class="answer answer-seven shadow-lg" id="answer_seven">
                    <h3 class="text-right">الاستفسار عن سداد الديون
                    </h3>
                    <p class="text-right">
                        متضامن تقوم بسداد الديون عن الغارمين الذين تعرضوا لظروف إجتماعية اجبرتهم على الاستدانة سواء لتزويج أبنائهم أو لعلاج احد أفراد أسرتهم
                    </p>

                    <h3 class="text-right">الأوراق المطلوبة لسداد الديون
                    </h3>
                    <p class="text-right">
                        بحث إجتماعى من الشئون الإجتماعية مختوم بختم النسر ، صورة البطاقة ، شهادة من الجدول بدرجة الحكم على الأقل فى مرحلة الأستئناف بها اسم الدائن
                    </p>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="question shadow-lg">
                    <div class="ques" onclick="ques_one()">
                        <label class="i"><i id="i1" class="fas fa-chevron-left active"></i></label>
                        <label class="label1 active" id="label1"><h4>مجالات متضامن</h4></label>
                    </div>

                    <div class="ques" id="ques_two" onclick="ques_two()">
                        <label class="i"><i id="i2" class="fas fa-chevron-left"></i></label>
                        <label class="label2" id="label2"><h4> الأوراق المطلوبة للتبرع</h4></label>
                    </div>

                    <div class="ques" id="ques_three" onclick="ques_three()">
                        <label class="i"><i id="i3" class="fas fa-chevron-left"></i></label>
                        <label class="label3" id="label3"><h4> دليل الأباء والأمهات</h4></label>
                    </div>

                    <div class="ques" id="ques_four" onclick="ques_four()">
                        <label class="i"><i id="i4" class="fas fa-chevron-left"></i></label>
                        <label class="label4" id="label4"><h4> بنك الدم</h4></label>
                    </div>

                    <div class="ques" id="ques_five" onclick="ques_five()">
                        <label class="i"><i id="i5" class="fas fa-chevron-left"></i></label>
                        <label class="label5" id="label5"><h4> قسم مكافحة العدوي</h4></label>
                    </div>

                    <div class="ques" id="ques_six" onclick="ques_six()">
                        <label class="i"><i id="i6" class="fas fa-chevron-left"></i></label>
                        <label class="label6" id="label6"><h4>السرطان</h4></label>
                    </div>

                    <div class="ques no-border" id="ques_seven" onclick="ques_seven()">
                        <label class="i"><i id="i7" class="fas fa-chevron-left"></i></label>
                        <label class="label7" id="label7"><h4>سداد الديون</h4></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end question -->

<!-- start contact-way  -->

<div class="contact-way">
    <div class="caption text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>حمل الان تطبيق متضامن</h4>
            <img src="{% static 'sub-static/images/get-it-on-google-play-png-download-app-1251.png' %}">
            <hr class="col-one-hr">
            <ul class="list-unstyled social-images">
              <li><img src="{% static 'sub-static/images/instagram.png' %}"></li>
              <li><img src="{% static 'sub-static/images/facebook.png' %}"></li>
              <li><img src="{% static 'sub-static/images/twitter.png' %}"></li>
              <li><img src="{% static 'sub-static/images/linkedin.png' %}"></li>
            </ul>
          </div>
          <div class="col-lg-2 ">
            <div id="vertical-line"></div>
          </div>
          <div class="col-lg-6">
            <img class="contact-way-logo" src="{% static 'sub-static/images/emptyarabic.png' %}">
            <h5 class="text-right">سر التضامن .. <span>التعاون</span></h5>
            <hr class="col-three-hr">
            <h6 class="text-center contact-us">تواصل معنا</h6>
            <table>
              <tr>
                <td><h6>motadamn@gmail.com</h6></td>
                <td><img src="{% static 'sub-static/images/email.png' %}"></td>
              </tr>
              <tr>
                <td><h6 id="call">+201122471913</h6></td>
                <td><img src="{% static 'sub-static/images/telephone.png' %}"></td>
              </tr>
              <tr>
                <td><h6>كلية التجارة - جامعة الاسكندرية</h6></td>
                <td><img src="{% static 'sub-static/images/pin.png' %}"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row footer">
            <div class="col-md-6 col-sm-12">
              <h6 class="text-right  all">جميع الحقوق محفوظة | متضامن &copy; 2020</h6>
            </div>
            <div class="col-md-6 col-sm-12">
              <h6 class="text-center motadamn">شروط وسياسة متضامن</h6>
            </div>
        </div>
      </div>
    </div>
  </div>

<!-- end contact-way -->

  <script src="{% static 'sub-static/js/jquery.js' %}"></script>
  <script src="{% static 'sub-static/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'sub-static/js/script.js' %}"></script>
</body>
</html>
