{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>برامج الرعاية الصحية</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{%static 'sub-static/css/bootstrap.min.css'%}">
    <link rel='stylesheet' media='screen' href="{%static 'sub-static/css/main-baramg.css'%}">
    <link rel='stylesheet' media='screen' href="{%static 'sub-static/css/media queries-baramg.css'%}">
    <link rel="stylesheet" href="{%static 'sub-static/css/all.min.css'%}">

</head>
<body>

    <!-- start carousel -->

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="slider-opacity"></div>
          <div class="carousel-item active">
            <img src="{%static 'sub-static/images/markus-spiske-dunsplash.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1 class="text-right">برامج الرعاية الصحية</h1>
            </div>
          </div>
        </div>

    </div>

    <!-- end carousel -->

    <!-- start navbar -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="chevron" src="{%static 'sub-static/images/received_710437753044351.png'%}">
                <img src="{%static 'sub-static/images/received_1837342366438740.png'%}">
              </a>
              <div class="dropdown-menu language" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">عربي</a>
              </div>
          </li>

            <li class="nav-item dropdown ">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <button class="btn"><i class="fas fa-chevron-down"></i>تسجيل الدخول</button>
              </a>
              <div class="dropdown-menu signup" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">جمعية خيرية</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">متبرع</a>
              </div>
            </li>

          <li class="nav-item">
            <a class="nav-link btn donate" href="dss box.html">تبرع الان</a>
          </li>

            <span class="Bar">
              <li class="nav-item conect">
                  <a class="nav-link hvr-shrink" href="#"> تواصل معنا</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link hvr-shrink" href="#">التوعية</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link hvr-shrink" href="#">الاخبار</a>
              </li>

              <li id="li-padding" class="nav-item">
                  <a class="nav-link hvr-shrink" href="#">عن متضامن</a>
              </li>
              <hr>
            </span>

          <li id="li-padding" class="nav-item">
              <a class="nav-link" href="main.html">
                  <img class="logo" src="{%static 'sub-static/images/emptyarabic.png'%}">
              </a>
          </li>
        </ul>

      </div>
    </nav>


    <!-- end navbar -->

    <!-- start medical  support -->


        <div class="medical-support">
            <h3 class="heading">
              <span>برامج الرعاية الصحية</span>
            </h3>
            <div class="container">
              <div class="medical">
                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/2015_8_13_19_17_7_938.jpg'%}">
                      <h5 class="text-center">توفير الاجهزة التعويضية</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/sara-bakhshi-MfnX4XtGnvU-unsplash.jpg'%}">
                      <h5 class="text-center">علاج الادمان</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/national-cancer-institute-egT3xtDu9DQ-unsplash.jpg'%}">
                      <h5 class="text-center">إجراء التحاليل والاشعة</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 last-col">
                    <a href="#">
                      <img src="{%static 'sub-static/images/jc-gellidon-UIp163xCV6w-unsplash.jpg'%}">
                      <h5 class="text-center">إجراء العمليات الجراحية</h5>
                    </a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/volodymyr-hryshchenko-m1Hq4ibP9rc-unsplash.jpg'%}">
                      <h5 class="text-center">كفالة العلاج</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/jc-gellidon-9Eb-bpTXglM-unsplash.jpg'%}">
                      <h5 class="text-center">عمليات القلب</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/image770x420cropped.jpg'%}">
                      <h5 class="text-center">مكافحة ضعف وفقدان البصر</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 last-col">
                    <a href="#">
                      <img src="{%static 'sub-static/images/1537212721_501_59649_41991173_10213476127877184_5622736000104005632_n-800x540.jpg'%}">
                      <h5 class="text-center">وحدات الغسيل الكلوي</h5>
                    </a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/sharon-mccutcheon-74-7j5t4sG0-unsplash.jpg'%}">
                      <h5 class="text-center">حضانات الاطفال</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/643.jpg'%}">
                      <h5 class="text-center">مكافحة فيرس سي</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <a href="#">
                      <img src="{%static 'sub-static/images/5e9a0c0fb8c51.png'%}">
                      <h5 class="text-center">مرضي الاورام</h5>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 last-col">
                    <a href="#">
                      <img src="{%static 'sub-static/images/5e9b63cfb9f1e.png'%}">
                      <h5 class="text-center">علاج ذوي القدرات الخاصة</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row last-row">
                <div class="col-md-4">
                  <a href="#">
                    <img src="{%static 'sub-static/images/5e9a0d293a46d.png'%}">
                    <h5 class="text-center">سرطان الثدي</h5>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#">
                    <img src="{%static 'sub-static/images/wound-care.jpg'%}">
                    <h5 class="text-center">علاج ضحايا الحوادث والحروق</h5>
                  </a>
                </div>
                <div class="col-md-4 last-col">
                  <a href="#">
                    <img src="{%static 'sub-static/images/5ea5da25433e7.png'%}">
                    <h5 class="text-center">الرفق بالحيوان</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>

        <!-- end medical support -->

        <!-- start contact-way -->


            <div class="contact-way">
              <div class="caption text-center">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h4>حمل الان تطبيق متضامن</h4>
                      <img src="{%static 'sub-static/images/get-it-on-google-play-png-download-app-1251.png'%}">
                      <hr class="col-one-hr">
                      <ul class="list-unstyled social-images">
                        <li><img src="{%static 'sub-static/images/instagram.png'%}"></li>
                        <li><img src="{%static 'sub-static/images/facebook.png'%}"></li>
                        <li><img src="{%static 'sub-static/images/twitter.png'%}"></li>
                        <li><img src="{%static 'sub-static/images/linkedin.png'%}"></li>
                      </ul>
                    </div>
                    <div class="col-lg-2 ">
                      <div id="vertical-line"></div>
                    </div>
                    <div class="col-lg-6">
                      <img class="contact-way-logo" src="{%static 'sub-static/images/emptyarabic.png'%}">
                      <h5 class="text-right">سر التضامن .. <span>التعاون</span></h5>
                      <hr class="col-three-hr">
                      <h6 class="text-center contact-us">تواصل معنا</h6>
                      <table>
                        <tr>
                          <td><h6>motadamn@gmail.com</h6></td>
                          <td><img src="{%static 'sub-static/images/email.png'%}"></td>
                        </tr>
                        <tr>
                          <td><h6 id="call">+201122471913</h6></td>
                          <td><img src="{%static 'sub-static/images/telephone.png'%}"></td>
                        </tr>
                        <tr>
                          <td><h6>كلية التجارة - جامعة الاسكندرية</h6></td>
                          <td><img src="{%static 'sub-static/images/pin.png'%}"></td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div class="row footer">
                      <div class="col-md-6 col-sm-12">
                        <h6 class="text-right  all">جميع الحقوق محفوظة | متضامن &copy; 2020</h6>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <h6 class="text-center motadamn">شروط وسياسة متضامن</h6>
                      </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- end contact-way -->

            <script src="{%static 'sub-static/js/jquery.js'%}"></script>
            <script src="{%static 'sub-static/js/popper.min.js'%}"></script>
            <script src="{%static 'sub-static/js/bootstrap.min.js'%}"></script>
            <script src="{%static 'sub-static/js/script.js'%}"></script>
          </body>
          </html>
