{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>زكاة الركاز</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sub-static/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'sub-static/css/bootstrap-multiselect.css'%}">
    <link rel="stylesheet" media='screen' href="{%static 'sub-static/css/kind-way.css'%}">
    <link rel="stylesheet" media="screen" href="{%static 'sub-static/css/media queries-dss.css'%}">
    <link rel="stylesheet" media="screen" href="{%static 'sub-static/css/hover.css'%}">
    <link rel="stylesheet" href=" {%static 'sub-static/css/all.min.css'%}">

</head>
<body>

    <!-- start navbar -->

        <nav class="navbar navbar-expand-lg navbar-light fixed-top">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="chevron" src="{%static 'sub-static/images/received_710437753044351.png'%}">
                  <img src="{%static 'sub-static/images/received_1837342366438740.png'%}">
                </a>
                  <div class="dropdown-menu language" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">عربي</a>
                  </div>
              </li>

              <li class="nav-item dropdown ">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <button class="btn"><i class="fas fa-chevron-down"></i>تسجيل الدخول</button>
                  </a>
                  <div class="dropdown-menu signup" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">جمعية خيرية</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">متبرع</a>
                  </div>
              </li>

              <li class="nav-item">
                <a class="nav-link btn donate" href="dss box.html">تبرع الان</a>
              </li>

                <span class="Bar">
                  <li class="nav-item conect">
                      <a class="nav-link" href="#"> تواصل معنا</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="#">التوعية</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="#">الاخبار</a>
                  </li>

                  <li id="li-padding" class="nav-item">
                      <a class="nav-link" href="#">عن متضامن</a>
                  </li>
                  <hr>
                </span>

                <li id="li-padding" class="nav-item">
                  <a class="nav-link" href="main.html">
                    <img class="logo" src="{%static 'sub-static/images/emptyarabic.png'%}">
                  </a>
                </li>
            </ul>

          </div>
        </nav>

    <!-- end navbar -->

    <!-- start form -->

    <form name="form">
        <div class="container">
            <div class="form-body">
                <h5 class="text-center">زكاة الركاز</h5>
                <input required type="text" name="f-num" class="how-much" id="howMuch" placeholder="ادخل قيمة الكنوز">
                <br>
                <button id="b-calc" type="button" class="btn" onclick="calucu()">احسب زكاتك</button>
                <br>
                <input readonly type="text" name="s-num" class="amount-zakat" id="amount" placeholder="قيمة الزكاة">
                <h3 class="text-center">ساهم معنا بذكاتك</h3>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <label><sup class="star">*</sup> نوع التبرع </label>
                        <select required id="donate-kind" onchange="change()">
                            <option value="" disabled selected>لا يوجد تفضيل</option>
                            <option value="general">عام</option>
                            <option value="brnamg">برنامج</option>
                            <option value="case">حالة</option>
                        </select>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <label>قيمة التبرع</label>
                        <input id="donat" type="text" id="donat">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <label>البرنامج الفرعي</label>
                        <select required id="sub_menu" disabled>
                            <option value="" disabled selected>لا يوجد تفضيل</option>
                            <optgroup style="display: none;" id="social" label="برامج الدعم الإجتماعي">
                                <option value="1">رعاية المسنين</option>
                                <option value="2">كفالة اليتيم</option>
                                <option value="3">الغارمين</option>
                                <option value="3">زواج اليتيمات</option>
                                <option value="3">خدمات للمكفوفين</option>
                                <option value="3">توفير ملابس</option>
                                <option value="3">أطفال بلا مأوي</option>
                                <option value="3">توزيع شنط غذائية</option>
                            </optgroup>

                            <optgroup style="display: none;" id="development" label="برامج التنمية العمرانية">
                                <option value="1">محطة تنقية المياه</option>
                                <option value="1">تركيب عداد المنزل</option>
                                <option value="1">إعمار المنزل</option>
                            </optgroup>

                            <optgroup style="display: none;" id="medical" label="برامج الرعاية الصحية">
                                <option value="1">إجراء العمليات الجراحية</option>
                                <option value="2">إجراء التحاليل و الأشعة</option>
                                <option value="3">علاج الأدمان</option>
                                <option value="4">توفير الأجهزة</option>
                                <option value="5">وحدات الغسيل الكلوي</option>
                                <option value="6">مكافحة ضعف وفقدان البصر</option>
                                <option value="7">عمليات القلب</option>
                                <option value="8">حضانات الأطفال</option>
                                <option value="9">سرطان الثدي</option>
                                <option value="10">كفالة العلاج</option>
                                <option value="11">علاج ذوي القدرات الخاصة</option>
                                <option value="12">مرضي الأورام</option>
                                <option value="13">مكافحة فيرس سي</option>
                                <option value="14">علاج ضحايا الحوادث والحروق</option>
                                <option value="15">الرفق بالحيوان</option>
                            </optgroup>

                            <optgroup style="display: none;" id="economic" label="برامج التمكين الإقتصادي">
                                <option value="1">التويف والتأهيل</option>
                                <option value="2">مشاريع الخير</option>
                                <option value="3">توزيع رؤوس مواشي</option>
                                <option value="4">القرض الحسن</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <label>البرنامج</label>
                          <select required onchange="changed()" id="list" >
                            <option value="" disabled selected>لا يوجد تفضيل</option>
                            <option value="one">برامج الدعم الإجتماعي</option>
                            <option value="two">برامج التنمية العمرانية</option>
                            <option value="three">برامج الرعاية الصحية</option>
                            <option value="four">برامج التمكين الإقتصادي</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <label class="town">المدينة</label>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                              <select>
                                <option value="" disabled selected>لا يوجد تفضيل</option>
                              </select>
                            <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes">
                              <label for="one">
                                <input type="checkbox" id="one" />الأسكندرية</label>
                              <label for="two">
                                <input type="checkbox" id="two" />القاهرة</label>
                              <label for="three">
                                <input type="checkbox" id="three" />الجيزة</label>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="need">الأكثر إحتياجا</label>
                <input class="needy" type="checkbox" >

                <input id="donate" type="submit" value="تبرع الان">
            </div>
        </div>


    </form>

    <!-- end form -->

    <script src="{%static 'sub-static/js/jquery.js'%}"></script>
    <script src="{%static 'sub-static/js/popper.min.js'%}"></script>
    <script src="{%static 'sub-static/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'sub-static/js/script.js'%}"></script>
    </body>
    </html>
